In [1]:
import pandas as pd
import numpy as np

## Kolon Adları
- vSegID	Segment bölgesini belirtir
- vSegDir	YÖN: 0:Geliş; 1:Gidiş
- fusedYear	Yıl
- fusedMonth	Ay
- fusedday	Gün
- fusedHour	Saat
- avgspeed	km'saat
- GRP	30'dklık dilimler
- shape	Segment ıdların koordinat bilgileri

In [2]:
besiktas_df = pd.read_csv("./BesiktasHiz.csv", sep=";")

In [3]:
besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

### NOT: Elimizde hem Beşiktaş'a özel bir veri(besiktasHız.csv) hem de tüm ilçelerin karışık olduğu bir veri (fuseedİlce.csv) var. Bu sebeple ikisini birleştiriyoruz.

In [4]:
fuseed_df = pd.read_csv("./Fuseed_Data_İlçe.csv")

In [5]:
fuseed_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,305,1,2019,6,24,23,28.0,0-30DK
1,1107,1,2019,6,5,2,49.0,30-60DK
2,1728,0,2019,4,15,14,73.0,0-30DK
3,762,0,2019,5,6,10,30.0,0-30DK
4,3023,1,2019,5,4,18,25.0,30-60DK

In [6]:
fuseed_besiktas_df = fuseed_df[fuseed_df.vSegID.isin(besiktas_df.vSegID)]

In [7]:
fuseed_besiktas_df

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
1,1107,1,2019,6,5,2,49.0,30-60DK
10,3552,0,2019,6,1,8,28.0,30-60DK
15,3559,0,2019,4,14,20,44.0,30-60DK
24,3589,0,2019,6,10,16,34.0,0-30DK
26,3619,0,2019,4,6,12,37.0,30-60DK
...,...,...,...,...,...,...,...,...
5321970,64,0,2019,4,4,5,72.0,30-60DK
5321975,3654,0,2019,4,1,20,34.0,0-30DK
5321987,2113,0,2019,5,4,21,34.0,30-60DK
5321996,3659,0,2019,5,15,16,25.0,30-60DK
5321997,1778,1,2019,4,26,6,54.0,0-30DK

In [8]:
df = besiktas_df.append(fuseed_besiktas_df)

In [9]:
df

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK
...,...,...,...,...,...,...,...,...
5321970,64,0,2019,4,4,5,72.0,30-60DK
5321975,3654,0,2019,4,1,20,34.0,0-30DK
5321987,2113,0,2019,5,4,21,34.0,30-60DK
5321996,3659,0,2019,5,15,16,25.0,30-60DK
5321997,1778,1,2019,4,26,6,54.0,0-30DK

In [10]:
list(df.columns)

['vSegID',
 'vSegDir',
 'fusedYear',
 'fusedMonth',
 'fusedday',
 'fusedHour',
 'avgspeed',
 'GRP']

## Segment ID'lere karşılık gelen enlem boylam verileri

In [11]:
segment_list = pd.read_excel("./bjk-segment.xlsx")

In [12]:
segment_list.head()

   id                                              shape
0  58  LINESTRING ( 29.01163774408752 41.080480711216...
1  58  LINESTRING ( 29.01837697841569 41.088996478005...
2  59  LINESTRING ( 29.01851958661052 41.088856751239...
3  59  LINESTRING ( 29.03193200006262 41.092135999577...
4  62  LINESTRING ( 29.00868344598513 41.050657973587...