In [1]:
import pandas as pd

## Kolon Adları
- vSegID	Segment bölgesini belirtir
- vSegDir	YÖN: 0:Geliş; 1:Gidiş
- fusedYear	Yıl
- fusedMonth	Ay
- fusedday	Gün
- fusedHour	Saat
- avgspeed	km'saat
- GRP	30'dklık dilimler
- shape	Segment ıdların koordinat bilgileri

### NOT: Elimizde hem Beşiktaş'a özel bir veri(besiktasHız.csv) hem de tüm ilçelerin karışık olduğu bir veri (fuseedİlce.csv) var. Bu sebeple ikisini birleştiriyoruz.

In [2]:
BESIKTAS_DATA = "./BesiktasHiz.csv"
FUSEED_DATA = "./Fuseed_Data_İlçe.csv"

In [3]:
besiktas_df = pd.read_csv(BESIKTAS_DATA, sep=";")

In [4]:
besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

In [5]:
fuseed_df = pd.read_csv(FUSEED_DATA)

In [6]:
fuseed_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,305,1,2019,6,24,23,28.0,0-30DK
1,1107,1,2019,6,5,2,49.0,30-60DK
2,1728,0,2019,4,15,14,73.0,0-30DK
3,762,0,2019,5,6,10,30.0,0-30DK
4,3023,1,2019,5,4,18,25.0,30-60DK

In [7]:
fuseed_besiktas_df = fuseed_df[fuseed_df.vSegID.isin(besiktas_df.vSegID)]

In [8]:
fuseed_besiktas_df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
1,1107,1,2019,6,5,2,49.0,30-60DK
10,3552,0,2019,6,1,8,28.0,30-60DK
15,3559,0,2019,4,14,20,44.0,30-60DK
24,3589,0,2019,6,10,16,34.0,0-30DK
26,3619,0,2019,4,6,12,37.0,30-60DK

In [9]:
df = besiktas_df.append(fuseed_besiktas_df)

In [10]:
df.head()

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,470,1,2019,3,17,8,108.0,30-60DK
1,3597,0,2019,3,5,8,33.0,30-60DK
2,3639,1,2019,1,2,22,37.0,0-30DK
3,2143,0,2019,3,2,21,30.0,30-60DK
4,551,0,2019,1,12,21,41.0,30-60DK

## Toplam Satır Sayıları

In [11]:
print(f'Besiktas veriseti: {len(besiktas_df.index)} satır')
print(f'Fuseed verisetindeki Besiktas verisi: {len(fuseed_besiktas_df.index)} satır')
print(f'Toplam Besiktas: {len(df.index)} satır')

Besiktas veriseti: 938941 satır
Fuseed verisetindeki Besiktas verisi: 921576 satır
Toplam Besiktas: 1860517 satır

## Segment ID'lere karşılık gelen enlem boylam verileri

In [12]:
segment_list = pd.read_excel("./bjk-segment.xlsx")

In [13]:
segment_list.head()

   id                                              shape
0  58  LINESTRING ( 29.01163774408752 41.080480711216...
1  58  LINESTRING ( 29.01837697841569 41.088996478005...
2  59  LINESTRING ( 29.01851958661052 41.088856751239...
3  59  LINESTRING ( 29.03193200006262 41.092135999577...
4  62  LINESTRING ( 29.00868344598513 41.050657973587...

# 65 NOLU SEGMENT ID = BEŞİKTAŞ BARBAROS BULVARI

## Seçilen SegmentID'ye Göre Filtrele

In [14]:
df = df.loc[df['vSegID'] == 65]

## Bu yol için hem gidiş hem dönüş verisi var. Şimdilik gidiş yönünü ele alalım.

In [15]:
df = df.loc[df['vSegDir'] == 0]

## Test Amaçla Sıralama

In [16]:
test = df.loc[df['vSegID'] == 65]
test2 = test.loc[test['vSegDir'] == 0]
test3 = test2.loc[test2['fusedMonth'] == 1]
test4 = test3.loc[test3['fusedday'] == 1]
test4.sort_values("fusedHour").reset_index(drop=True)

,vSegID,vSegDir,fusedYear,fusedMonth,fusedday,fusedHour,avgspeed,GRP
0,65,0,2019,1,1,0,32.0,0-30DK
1,65,0,2019,1,1,0,33.0,30-60DK
2,65,0,2019,1,1,1,13.0,0-30DK
3,65,0,2019,1,1,1,27.0,30-60DK
4,65,0,2019,1,1,2,29.0,30-60DK
5,65,0,2019,1,1,2,43.0,0-30DK
6,65,0,2019,1,1,3,33.0,30-60DK
7,65,0,2019,1,1,3,16.0,0-30DK
8,65,0,2019,1,1,4,48.0,0-30DK
9,65,0,2019,1,1,4,50.0,30-60DK
10,65,0,2019,1,1,5,57.0,30-60DK
11,65,0,2019,1,1,5,52.0,0-30DK
12,65,0,2019,1,1,6,62.0,0-30DK
13,65,0,2019,1,1,6,59.0,30-60DK
14,65,0,2019,1,1,7,62.0,0-30DK
15,65,0,2019,1,1,7,60.0,30-60DK
16,65,0,2019,1,1,8,61.0,30-60DK
17,65,0,2019,1,1,8,59.0,0-30DK
18,65,0,2019,1,1,9,61.0,0-30DK
19,65,0,2019,1,1,9,57.0,30-60DK
20,65,0,2019,1,1,10,59.0,0-30DK
21,65,0,2019,1,1,10,58.0,30-60DK
22,65,0,2019,1,1,11,53.0,30-60DK
23,65,0,2019,1,1,11,58.0,0-30DK
24,65,0,2019,1,1,12,53.0,0-30DK
25,65,0,2019,1,1,12,51.0,30-60DK
26,65,0,2019,1,1,13,43.0,30-60DK
27,65,0,2019,1,1,13,46.0,0-30DK
28,65,0,2019,1,1,14,41.0,0-30DK
29,65,0,2019,1,1,14,41.0,30-60DK
30,65,0,2019,1,1,15,45.0,30-60DK
31,65,0,2019,1,1,15,43.0,0-30DK
32,65,0,2019,1,1,16,46.0,0-30DK
33,65,0,2019,1,1,16,43.0,30-60DK
34,65,0,2019,1,1,17,44.0,30-60DK
35,65,0,2019,1,1,17,44.0,0-30DK
36,65,0,2019,1,1,18,45.0,0-30DK
37,65,0,2019,1,1,18,45.0,30-60DK
38,65,0,2019,1,1,19,45.0,30-60DK
39,65,0,2019,1,1,19,45.0,0-30DK
40,65,0,2019,1,1,20,45.0,0-30DK
41,65,0,2019,1,1,20,47.0,30-60DK
42,65,0,2019,1,1,21,45.0,30-60DK
43,65,0,2019,1,1,21,49.0,0-30DK
44,65,0,2019,1,1,22,46.0,0-30DK
45,65,0,2019,1,1,22,48.0,30-60DK
46,65,0,2019,1,1,23,54.0,30-60DK
47,65,0,2019,1,1,23,52.0,0-30DK

## Yol Bakım
2 adet bakım calısması veriseti var.

- İki verisetini birleştir.
- Beşiktaş Barbaros Bulvarına göre filtrele.

In [17]:
yol_bakim1 = pd.read_csv("./bakim-veri/yol_bakım.csv")
yol_bakim2 = pd.read_csv("./bakim-veri/yol_bakim_2.csv")

In [18]:
result = pd.concat([yol_bakim1, yol_bakim2])
result = result.loc[result["ilce"] == "BEŞİKTAŞ"].reset_index(drop=True)
result.loc[result['yol_adi'].str.contains("BARBAROS")].reset_index(drop=True)

,id,isin_cinsi,ilce,yol_adi,isin_adi,tarih,gece,harita,lat,lon
0,133679,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-05,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
1,133950,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-09,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
2,134346,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-13,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
3,134579,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-01-14,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,0.000000,0.00000
4,134691,ASFALT,BEŞİKTAŞ,BARBAROS BULVARI(YILDIZ MAH),ROBOT (YAMA),2019-01-15,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.051016...,0.000000,0.00000
...,...,...,...,...,...,...,...,...,...,...
68,152829,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-05-16,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
69,153422,ASFALT,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),ROBOT (YAMA),2019-05-21,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
70,154041,KORKULUK YAPIMI - ONARIMI,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),OTO KORKULUK,2019-05-26,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
71,154664,KORKULUK YAPIMI - ONARIMI,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),OTO KORKULUK,2019-05-29,EVET,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062
72,155375,UTK,BEŞİKTAŞ,BARBAROS BULVARI(BALMUMCU MAH),TRETUVAR - PARKE ÇALIŞMASI,2019-06-10,HAYIR,http://sehirharitasi.ibb.gov.tr/?lat=41.058967...,41.058968,29.01062

## TKM Duyurular

In [19]:
tkm_duyuru = pd.read_csv("../Trafik Analizi Verileri/Microsoft_azure_calisma/TKM_Duyurular.csv")

In [20]:
tkm_duyuru.loc[tkm_duyuru['DUYURUBASLIK'].str.contains("Beşiktaş")]

,DUYURUID,DUYURUTIPI,DUYURUTIPI_DESC,KULLANICIID,DUYURUBASLIK,DUYURUMETIN,DUYURULINK,KAZALINK,GIRISTARIHI,BITISTARIHI,...,ULASIMMOD,DUYURUBASLIKING,DUYURUMETINING,MOBILKULLANICIBILDIRIMIACIKLAMA,GIRISYAPANBIRIM,KAZAKARANOKTATIPI,KazaKaraNoktaTipi_desc,VSEGID,VSEGDIR,insert_time
13,478018,17,Bakım-Onarım Çalışması,696,Balmumcu Alt Geçiti Beşiktaş - Zincirlikuyu Y...,Balmumcu Alt Geçiti Beşiktaş - Zincirlikuyu Y...,NaN,NaN,2019-03-09 01:37:11,2019-03-09 06:00:00,...,NaN,Balmumcu Alt Geçiti Beşiktaş - Zincirlikuyu d...,Alt Geçit Balmumcu Beşiktaş - Zincirlikuyu dir...,NaN,0,NaN,NaN,NaN,NaN,2019-09-27 12:10:03
257,474266,17,Bakım-Onarım Çalışması,162,Beşiktaş Meydanı Çift Yönlü Bakım-Onarım Çalı...,Beşiktaş Meydanı Çift Yönlü Bakım-Onarım Çalış...,NaN,NaN,2019-01-17 00:30:59,2019-01-17 04:54:00,...,NaN,NaN,Beşiktaş Meydanı Çift Yönlü maintenance and re...,NaN,1,NaN,NaN,NaN,NaN,2019-09-27 12:10:03
258,474267,17,Bakım-Onarım Çalışması,162,"Beşiktaş - Dolmabahçe Yönü, sağ şerit Bakım-On...","Beşiktaş - Dolmabahçe Yönü, sağ şerit Bakım-On...",NaN,NaN,2019-01-17 01:31:27,2019-01-17 04:00:00,...,NaN,NaN,"Beşiktaş - Dolmabahçe direction, right lane ma...",NaN,1,NaN,NaN,NaN,NaN,2019-09-27 12:10:03
288,475336,17,Bakım-Onarım Çalışması,550,"Büyükdere Caddesi Levent - Beşiktaş Yönü, sağ ...","Büyükdere Caddesi Levent - Beşiktaş Yönü, sağ ...",NaN,NaN,2019-01-31 10:27:58,2019-01-31 11:30:00,...,NaN,"Büyükdere Caddesi Levent - Beşiktaş direction,...","Büyükdere Caddesi Levent - Beşiktaş direction,...",NaN,1,NaN,NaN,NaN,NaN,2019-09-27 12:10:03

## Sütun İsimleri Düzenleme

In [21]:
df.rename(columns={'vSegID': 'SegmentID',
                   'vSegDir': 'SegmentDirection',
                   'fusedYear': 'Year',
                   'fusedMonth': 'Month',
                   'fusedday' : 'Day',
                   'fusedHour' : 'Hour' ,
                   'avgspeed': 'AverageSpeed',
                   'GRP' : 'Minute'
                  },
          inplace=True)

#### Aralıkları 15.dakika veya 45.dakika olarak işaretleyelim.

In [22]:
GRPdict = {"0-30DK": 15 , "30-60DK": 45}
df['Minute'] = df['Minute'].apply(lambda x : GRPdict[x])

df.head()

     SegmentID  SegmentDirection  Year  Month  Day  Hour  AverageSpeed  Minute
287         65                 0  2019      1   29    12          13.0      15
338         65                 0  2019      1   10     9          41.0      15
511         65                 0  2019      1   17     6          59.0      15
653         65                 0  2019      1    7     1          54.0      15
657         65                 0  2019      3   19    19          47.0      15

### Yıl, Ay, Gün, Saat ile DateTime Bilgisi Oluşturma

In [23]:
df['DateTime'] = pd.to_datetime(df[['Year','Month','Day','Hour']])
df.head()

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime
287,65,0,2019,1,29,12,13.0,15,2019-01-29 12:00:00
338,65,0,2019,1,10,9,41.0,15,2019-01-10 09:00:00
511,65,0,2019,1,17,6,59.0,15,2019-01-17 06:00:00
653,65,0,2019,1,7,1,54.0,15,2019-01-07 01:00:00
657,65,0,2019,3,19,19,47.0,15,2019-03-19 19:00:00

In [24]:
df.loc[df['DateTime'] == pd.datetime(2019,3,11, 2)]

/Users/md/venv/jupyter-venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime
165013,65,0,2019,3,11,2,42.0,15,2019-03-11 02:00:00
540315,65,0,2019,3,11,2,54.0,45,2019-03-11 02:00:00

In [25]:
df.loc[df['DateTime'] == pd.datetime(2019,4,23, 11)]

/Users/md/venv/jupyter-venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime instead.
  """Entry point for launching an IPython kernel.

,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,Minute,DateTime
1279371,65,0,2019,4,23,11,45.0,45,2019-04-23 11:00:00
4841946,65,0,2019,4,23,11,38.0,15,2019-04-23 11:00:00

## Aynı saatte ölçülmüş 15. ve 45. dakikalardaki veri gruplanıyor.

In [26]:
df = df.groupby(["DateTime"]).mean().drop(["Minute"], axis=1).reset_index()

In [27]:
df.head()

,DateTime,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed
0,2019-01-01 00:00:00,65,0,2019,1,1,0,32.5
1,2019-01-01 01:00:00,65,0,2019,1,1,1,20.0
2,2019-01-01 02:00:00,65,0,2019,1,1,2,36.0
3,2019-01-01 03:00:00,65,0,2019,1,1,3,24.5
4,2019-01-01 04:00:00,65,0,2019,1,1,4,49.0

## Yıllık Tatil Günleri Sütunu

In [28]:
holidays = pd.read_excel("resmi_tatiller.xlsx")
holiday_dates = list(holidays['tarih'])

holiday_dates

['2019-01-01',
 '2019-04-23',
 '2019-05-01',
 '2019-05-19',
 '2019-06-04',
 '2019-06-05',
 '2019-06-06']

In [29]:
df['isNationalHoliday'] = df['DateTime'].apply(lambda x : 1 if str(x.date()) in holiday_dates else 0)

### Datetime Kullanarak Haftasonu Sütunu Ekleme

In [30]:
df['DayName'] = df.apply(lambda tr: tr['DateTime'].day_name(), axis=1)

In [31]:
df['isWeekend'] = df.apply(lambda tr: 1 if tr['DayName'] in ["Saturday", "Sunday"] else 0, axis=1)

In [32]:
df.head()

,DateTime,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,isNationalHoliday,DayName,isWeekend
0,2019-01-01 00:00:00,65,0,2019,1,1,0,32.5,1,Tuesday,0
1,2019-01-01 01:00:00,65,0,2019,1,1,1,20.0,1,Tuesday,0
2,2019-01-01 02:00:00,65,0,2019,1,1,2,36.0,1,Tuesday,0
3,2019-01-01 03:00:00,65,0,2019,1,1,3,24.5,1,Tuesday,0
4,2019-01-01 04:00:00,65,0,2019,1,1,4,49.0,1,Tuesday,0

### Okul Tatil Günleri

In [33]:
school_hols = pd.read_csv("./Okul-Tatilleri.csv")
school_holiday_dates = list(school_hols['Okul Tatilleri'])
school_holiday_dates

['2019-01-19',
 '2019-01-20',
 '2019-01-21',
 '2019-01-22',
 '2019-01-23',
 '2019-01-24',
 '2019-01-25',
 '2019-01-26',
 '2019-01-27',
 '2019-01-28',
 '2019-01-29',
 '2019-01-30',
 '2019-01-31',
 '2019-02-01',
 '2019-02-02',
 '2019-02-03',
 '2019-06-15',
 '2019-06-16',
 '2019-06-17',
 '2019-06-18',
 '2019-06-19',
 '2019-06-20',
 '2019-06-21',
 '2019-06-22',
 '2019-06-23',
 '2019-06-24',
 '2019-06-25',
 '2019-06-26',
 '2019-06-27',
 '2019-06-28',
 '2019-06-29',
 '2019-06-30']

In [34]:
df['isSchoolHoliday'] = df['DateTime'].apply(lambda x : 1 if str(x.date()) in school_holiday_dates else 0)

In [35]:
df.head(10)

,DateTime,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,isNationalHoliday,DayName,isWeekend,isSchoolHoliday
0,2019-01-01 00:00:00,65,0,2019,1,1,0,32.5,1,Tuesday,0,0
1,2019-01-01 01:00:00,65,0,2019,1,1,1,20.0,1,Tuesday,0,0
2,2019-01-01 02:00:00,65,0,2019,1,1,2,36.0,1,Tuesday,0,0
3,2019-01-01 03:00:00,65,0,2019,1,1,3,24.5,1,Tuesday,0,0
4,2019-01-01 04:00:00,65,0,2019,1,1,4,49.0,1,Tuesday,0,0
5,2019-01-01 05:00:00,65,0,2019,1,1,5,54.5,1,Tuesday,0,0
6,2019-01-01 06:00:00,65,0,2019,1,1,6,60.5,1,Tuesday,0,0
7,2019-01-01 07:00:00,65,0,2019,1,1,7,61.0,1,Tuesday,0,0
8,2019-01-01 08:00:00,65,0,2019,1,1,8,60.0,1,Tuesday,0,0
9,2019-01-01 09:00:00,65,0,2019,1,1,9,59.0,1,Tuesday,0,0

# Trafik Oranlarını Sınıflandırma

- ML modeli 0-90 arası bir hız tahmini yapmak yerine, düşük,ortalama,yüksek hız şeklinde sınıflandırma yapmalı.

### K-means ile Kümeleme

In [36]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=3)

In [37]:
df['label'] = km.fit_predict(df[['AverageSpeed']])

In [38]:
df[['label', 'AverageSpeed']]

      label  AverageSpeed
0         1          32.5
1         0          20.0
2         1          36.0
3         0          24.5
4         1          49.0
...     ...           ...
4327      1          35.0
4328      1          32.5
4329      1          41.5
4330      1          41.0
4331      1          44.5

[4332 rows x 2 columns]

In [39]:
CLASS0 = df.loc[df['label'] == 0]['AverageSpeed'].min(), df.loc[df['label'] == 0]['AverageSpeed'].max()
CLASS0

(8.5, 30.0)

In [40]:
CLASS1 = df.loc[df['label'] == 1]['AverageSpeed'].min(), df.loc[df['label'] == 1]['AverageSpeed'].max()
CLASS1

(30.5, 49.5)

In [41]:
CLASS2 = df.loc[df['label'] == 2]['AverageSpeed'].min(), df.loc[df['label'] == 2]['AverageSpeed'].max()
CLASS2

(50.0, 75.5)

## Yağmur Verisi

In [42]:
rain_df = pd.read_csv("./ETL/saatlik_ortalamalar.csv", sep=";")

In [43]:
# 0'dan büyük örnek yağmur değerleri
rain_df.loc[rain_df.ort_yagis > 15].reset_index(drop=True)

        ﻿tarih  saat  ort_sicaklik    ort_nem  ort_ruzgar   ort_yagis
0   2019-02-11     0      4.821967  91.820000    1.028500   34.728967
1   2019-02-11     1      4.740767  92.513333    0.854500  115.645617
2   2019-02-11     2      4.828300  92.213333    0.896167   87.970833
3   2019-02-21     5      5.455385  98.003846    0.746538   27.530000
4   2019-04-02     3      7.335153  95.596610    0.680000   32.268814
5   2019-04-02     4      8.557544  92.192982    0.876491   15.318070
6   2019-06-20     7     22.657167  88.507000    1.500000   45.087167
7   2019-06-20    16     24.722787  67.755246    1.260164   15.918361
8   2019-06-20    17     24.255424  68.891017    0.992881   18.043559
9   2019-06-20    18     24.325000  70.606724    0.820172   23.874483
10  2019-06-20    20     23.354667  76.427500    0.945000   15.145667
11  2019-06-20    21     23.070833  85.828333    1.248667   16.450167
12  2019-06-20    22     22.614483  86.341379    0.904483   18.143103
13  2019-06-21     5     23.958033  86.181967    1.103115   21.273607
14  2019-06-22     0     23.153500  82.447667    0.542667   30.163000
15  2019-06-22     1     22.806441  83.528814    0.451017   16.186610
16  2019-06-22     3     23.212131  81.813770    0.505246   21.623607

In [44]:
# tarih sütunu isminde görünmeyen karakterler var. Onu düzenleyelim.
print(rain_df.columns[0])
rain_df.rename(columns={'\ufefftarih': 'tarih'}, inplace=True, errors="raise")
rain_df.columns[0]

﻿tarih

'tarih'

## Yağmur verisini Ekleyelim

**DF** tarafında pd.datetime tipinde tutuyoruz. 

**Yağmur** üzerinde zaman string halde.

Verileri birleştirirken sabit bir sütun kullanacağız. Bunun için de
- dateTime sütununun date'ini ve saat sütununun değerini kullanacağız.

In [45]:
df["period"] = df['DateTime'].apply(lambda x : x.date())
df["period"] = df['period'].astype(str) + " " + df['Hour'].astype(str)

In [46]:
df.head()

,DateTime,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,isNationalHoliday,DayName,isWeekend,isSchoolHoliday,label,period
0,2019-01-01 00:00:00,65,0,2019,1,1,0,32.5,1,Tuesday,0,0,1,2019-01-01 0
1,2019-01-01 01:00:00,65,0,2019,1,1,1,20.0,1,Tuesday,0,0,0,2019-01-01 1
2,2019-01-01 02:00:00,65,0,2019,1,1,2,36.0,1,Tuesday,0,0,1,2019-01-01 2
3,2019-01-01 03:00:00,65,0,2019,1,1,3,24.5,1,Tuesday,0,0,0,2019-01-01 3
4,2019-01-01 04:00:00,65,0,2019,1,1,4,49.0,1,Tuesday,0,0,1,2019-01-01 4

Aynı işlemi bu sefer yağmur verisine uyguluyoruz.

In [47]:
rain_df["period"] = rain_df['tarih'] + " " + rain_df['saat'].astype(str)

In [48]:
# yaptığımız işlemin doğruluğunu test edelim.
IDX = 177
print(rain_df['period'][IDX])
print(df['period'][IDX])

print(df['period'][IDX] == rain_df['period'][IDX])

2019-01-08 9
2019-01-08 9
True

Evet yukarıdaki teknik ile artık iki veri arasında ortak aynı veri tipinde bir sütun elde ettik. --> **PERIOD** 

Şimdi birleştirelim.

## BURADA BAĞLANTIYI SAĞLADIK

In [49]:
# period sütununu index olarak işaretle ve birleştir.
df = df.join(rain_df.set_index('period'), on='period')

In [50]:
# değerlerin doğru olduğunu test edelim.
print(df['ort_yagis'][150])
print(rain_df['ort_yagis'][150])

0.00398333321015042
0.00398333321015042

In [51]:
# null değerleri görelim.
df.loc[df['ort_yagis'].isnull()]

,DateTime,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,isNationalHoliday,DayName,isWeekend,isSchoolHoliday,label,period,tarih,saat,ort_sicaklik,ort_nem,ort_ruzgar,ort_yagis
1011,2019-02-12 15:00:00,65,0,2019,2,12,15,15.5,0,Tuesday,0,0,0,2019-02-12 15,NaN,NaN,NaN,NaN,NaN,NaN
1012,2019-02-12 16:00:00,65,0,2019,2,12,16,29.0,0,Tuesday,0,0,0,2019-02-12 16,NaN,NaN,NaN,NaN,NaN,NaN
1013,2019-02-12 17:00:00,65,0,2019,2,12,17,40.5,0,Tuesday,0,0,1,2019-02-12 17,NaN,NaN,NaN,NaN,NaN,NaN
1014,2019-02-12 18:00:00,65,0,2019,2,12,18,39.5,0,Tuesday,0,0,1,2019-02-12 18,NaN,NaN,NaN,NaN,NaN,NaN
1015,2019-02-12 19:00:00,65,0,2019,2,12,19,42.0,0,Tuesday,0,0,1,2019-02-12 19,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4124,2019-06-22 08:00:00,65,0,2019,6,22,8,51.5,0,Saturday,1,1,2,2019-06-22 8,NaN,NaN,NaN,NaN,NaN,NaN
4125,2019-06-22 09:00:00,65,0,2019,6,22,9,42.5,0,Saturday,1,1,1,2019-06-22 9,NaN,NaN,NaN,NaN,NaN,NaN
4126,2019-06-22 10:00:00,65,0,2019,6,22,10,23.5,0,Saturday,1,1,0,2019-06-22 10,NaN,NaN,NaN,NaN,NaN,NaN
4127,2019-06-22 11:00:00,65,0,2019,6,22,11,40.0,0,Saturday,1,1,1,2019-06-22 11,NaN,NaN,NaN,NaN,NaN,NaN
4128,2019-06-22 12:00:00,65,0,2019,6,22,12,13.5,0,Saturday,1,1,0,2019-06-22 12,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# ile nan olanlardan kurtuluyoruz.
df.dropna()

,DateTime,SegmentID,SegmentDirection,Year,Month,Day,Hour,AverageSpeed,isNationalHoliday,DayName,isWeekend,isSchoolHoliday,label,period,tarih,saat,ort_sicaklik,ort_nem,ort_ruzgar,ort_yagis
0,2019-01-01 00:00:00,65,0,2019,1,1,0,32.5,1,Tuesday,0,0,1,2019-01-01 0,2019-01-01,0.0,4.803600,80.132000,3.323333,0.0
1,2019-01-01 01:00:00,65,0,2019,1,1,1,20.0,1,Tuesday,0,0,0,2019-01-01 1,2019-01-01,1.0,4.995100,72.535166,4.095333,0.0
2,2019-01-01 02:00:00,65,0,2019,1,1,2,36.0,1,Tuesday,0,0,1,2019-01-01 2,2019-01-01,2.0,4.991483,69.710334,3.415333,0.0
3,2019-01-01 03:00:00,65,0,2019,1,1,3,24.5,1,Tuesday,0,0,0,2019-01-01 3,2019-01-01,3.0,4.784233,67.371000,2.398000,0.0
4,2019-01-01 04:00:00,65,0,2019,1,1,4,49.0,1,Tuesday,0,0,1,2019-01-01 4,2019-01-01,4.0,4.738350,65.047000,2.159333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4327,2019-06-30 19:00:00,65,0,2019,6,30,19,35.0,0,Sunday,1,1,1,2019-06-30 19,2019-06-30,19.0,22.133934,53.454426,1.879508,0.0
4328,2019-06-30 20:00:00,65,0,2019,6,30,20,32.5,0,Sunday,1,1,1,2019-06-30 20,2019-06-30,20.0,21.789000,54.073667,1.764667,0.0
4329,2019-06-30 21:00:00,65,0,2019,6,30,21,41.5,0,Sunday,1,1,1,2019-06-30 21,2019-06-30,21.0,21.619167,56.058500,1.514000,0.0
4330,2019-06-30 22:00:00,65,0,2019,6,30,22,41.0,0,Sunday,1,1,1,2019-06-30 22,2019-06-30,22.0,21.093833,57.467333,1.503333,0.0
4331,2019-06-30 23:00:00,65,0,2019,6,30,23,44.5,0,Sunday,1,1,1,2019-06-30 23,2019-06-30,23.0,20.751500,58.398000,1.260667,0.0

In [53]:
# ortalama yağış yüksek olsa da hız çok düşmemiş.
df.loc[df['ort_yagis'] > 30][['ort_yagis', 'AverageSpeed']]

       ort_yagis  AverageSpeed
972    34.728967          53.5
973   115.645617          55.5
974    87.970833          63.5
2175   32.268814          59.5
4075   45.087167          50.0
4116   30.163000           9.0

### İstenmeyen Sütunların Silinmesi

In [54]:
# prediction tarafında Average Speed'e ihtiyacım var. Ama burada silmem gerekiyor, bir kopya oluştur.
copy_df = df.copy()

In [55]:
df = df[['Month', 'Day', 'Hour', 'isNationalHoliday', 'isWeekend',
       'isSchoolHoliday', 'ort_yagis', 'label']]

In [56]:
df.rename(columns={'ort_yagis': 'AverageRain'}, inplace=True)

In [57]:
df.head()

,Month,Day,Hour,isNationalHoliday,isWeekend,isSchoolHoliday,AverageRain,label
0,1,1,0,1,0,0,0.0,1
1,1,1,1,1,0,0,0.0,0
2,1,1,2,1,0,0,0.0,1
3,1,1,3,1,0,0,0.0,0
4,1,1,4,1,0,0,0.0,1

## Lets Create ML Model

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Perceptron, LinearRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [59]:
df.dropna(inplace=True)

In [60]:
# Feature ve class ayrımı.
y = df['label'].values
X = df.drop(['label'], axis=1)

## Model Listesi Üzerinden Eğitim ve RASTGELE TEST

In [61]:
Y = df['label'] # labels
X = df.drop(['label'], axis=1) # features

X_train, X_test, Y_train, Y_test = train_test_split(X,
                                                    Y,
                                                    test_size=0.2,
                                                    random_state=13)
models = {'Perceptron': Perceptron(),
          'NaiveBayes': MultinomialNB(),
          'KNeighbors': KNeighborsClassifier(),
          'DecisionTree': DecisionTreeRegressor(max_depth= 110, min_samples_leaf = 25),
          'SupportVector': SVC(kernel="linear")}

for (name, model) in models.items():
    model.fit(X_train, Y_train)
    score = int(model.score(X_test, Y_test) * 100)
    print(f'{str(name):15}:  %{score}')

Perceptron     :  %30
NaiveBayes     :  %53
KNeighbors     :  %70
DecisionTree   :  %58
SupportVector  :  %62

# Prediction

In [62]:
def create_prediction_example(m, d, h, isN, isW, isS, r):
    data = pd.DataFrame(0, index=[0], columns= list(X_train.columns))
    data['Month'] = m
    data['Day'] = d
    data['Hour'] = h
    data['isNationalHoliday'] = isN
    data['isWeekend'] = isW
    data['isSchoolHoliday'] = isS
    data['AverageRain'] = r

    return data

# 24 Saatlik Trafik Verisi

In [63]:
speed_dict = {'0': CLASS0,
              '1': CLASS1,
              '2': CLASS2
             }

In [64]:
for i in range(1, 24):
    example = create_prediction_example(m=2, d=30, h=i, isN=1, isW=1, isS=0, r=50)
    result = model.predict(example)[0]
    print(f'{str(i):2} --> {speed_dict[str(result)]}')

1  --> (50.0, 75.5)
2  --> (50.0, 75.5)
3  --> (50.0, 75.5)
4  --> (50.0, 75.5)
5  --> (50.0, 75.5)
6  --> (50.0, 75.5)
7  --> (50.0, 75.5)
8  --> (50.0, 75.5)
9  --> (50.0, 75.5)
10 --> (50.0, 75.5)
11 --> (50.0, 75.5)
12 --> (50.0, 75.5)
13 --> (50.0, 75.5)
14 --> (50.0, 75.5)
15 --> (30.5, 49.5)
16 --> (30.5, 49.5)
17 --> (30.5, 49.5)
18 --> (30.5, 49.5)
19 --> (30.5, 49.5)
20 --> (30.5, 49.5)
21 --> (30.5, 49.5)
22 --> (30.5, 49.5)
23 --> (30.5, 49.5)

### Cross Validation

In [65]:
from sklearn.model_selection import KFold


def cross_validation(df):
    piece = KFold(shuffle=True) # shuffle true olursa ayrılan veriler de karışık gelir.

    inputs = df.iloc[:,:-1].values
    outputs = df.iloc[:,-1].values
    models = {'Perceptron': Perceptron(),
              'NaiveBayes': MultinomialNB(),
              'KNearestNeighbor': KNeighborsClassifier(n_neighbors=3),
              'DecisionTree': DecisionTreeRegressor(max_depth= 110, min_samples_leaf = 25),
              'SupportVector': SVC(kernel="linear")}
    # girdiyi train ve test olarak ayırıyor.
    for (name, model) in models.items():
        

        for idx, (train_idx, test_idx) in enumerate(piece.split(inputs)):
            # artık verisetim bölünmüş bir halde.
            # eğitim kısmını eğitime, test kısmını teste atayalım.
            train_input = inputs[train_idx, :]
            test_input = inputs[test_idx, :]
            train_output = outputs[train_idx] # output kısmıdan zaten 1 adet sütun var.
            test_output = outputs[test_idx]

            model.fit(train_input, train_output)
            score = round(model.score(test_input, test_output) * 100, 2)
            print(f'{str(name):15}{idx+1}x:  %{score}')

        print("-" * 52)

In [66]:
cross_validation(df)

Perceptron     1x:  %49.63
Perceptron     2x:  %37.82
Perceptron     3x:  %45.12
Perceptron     4x:  %32.14
Perceptron     5x:  %56.37
----------------------------------------------------
NaiveBayes     1x:  %52.35
NaiveBayes     2x:  %50.93
NaiveBayes     3x:  %54.02
NaiveBayes     4x:  %52.04
NaiveBayes     5x:  %50.43
----------------------------------------------------
KNearestNeighbor1x:  %78.15
KNearestNeighbor2x:  %74.29
KNearestNeighbor3x:  %76.02
KNearestNeighbor4x:  %75.65
KNearestNeighbor5x:  %76.14
----------------------------------------------------
DecisionTree   1x:  %59.77
DecisionTree   2x:  %63.88
DecisionTree   3x:  %54.81
DecisionTree   4x:  %60.55
DecisionTree   5x:  %62.09
----------------------------------------------------
SupportVector  1x:  %64.2
SupportVector  2x:  %63.54
SupportVector  3x:  %61.93
SupportVector  4x:  %64.4
SupportVector  5x:  %62.3
----------------------------------------------------